# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
uploads/
tessdata/